/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  /* margin-left: 4rem; */
  margin-top: 4rem; /* Same as the width of the sidebar */
  background-color: #f1f1f1;
  padding-left: 12rem;
  padding-bottom: 8rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation */
/* Top Nav */
#topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  box-shadow: 0px 0.5px 1px #888888a2;
  z-index: 100;


}

#topnav ul {
  padding-left: px;
  display: inline;
 }

#topnav li {
  display: inline;
  padding: 10px 15px 15px 10px;
  float: left;
}

#topnav li a {
  font-size: 2em;
}

#topnav i {
  display: none;
}

/* #topnav li a {
  text-align: center;
height: 50px !important;
} */
/* Side Nav */

#sidenav {
  box-shadow: 0px 0.5px 1px #888888;
  height: calc(100% - 4rem);
  width: 12rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  display: inline;
}

/* The navigation menu links */
#sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  height: 40px;
  margin: 0px 20px;
}

#active {
  background-color: rgba(178, 225, 236, 0.658);
  border-radius: 7px 7px 7px 7px;
}

.icons {
  display: flex;
  padding: 5px 35px 5px 7px !important;
  margin: 15px 20px 0px 10px;
}

.icons div {
  padding: 4px 0px 0px 14px;
  font-size: 1.1rem;
}

.icons img {
  width: 30px;
  height: 30px;
}

/* Page Constent */

.smallComponent,
.mediumComponent,
.largeComponent, .miniComponent {
  border-radius: 20px;
  padding: 20px;
  margin: 40px 20px 0px 20px;
  flex-grow: 1;
  display: flex;
position: relative;
  background-color: #ffffff;
}
.mediumComponent > div,
.largeComponent > div {
  max-width: 50%;
}

.smallComponent {
  max-width: 250px;
  height: 250px;
}

.smallComponent h2{
  font-size: 1rem;
}


.mediumComponent {
  max-width: 500px;
  height: 250px;
}

/* Large Component */

.largeComponent {
  width: 100%;
  height: 250px;
  position: relative;
}

.contentComponent {
  width: 100%;
  height: 100vh;
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin: 40px 20px 0px 20px;
  flex-grow: 1;
 position: relative;
  background-color: #ffffff;
}


.pageComponentContent h3 {
  color: red;
  font-weight: 400;
  font-family: monospace;
  margin-bottom: 10px;
}


.pageComponentImage{
  flex-wrap: wrap;
}

.pageComponentImage img {
 max-height: 280px;
 position: absolute;
 right: 50px;
 top: 40px;
}


.miniComponent{
width: 40%;
}

/* Button */


.button {
  background-color: #8A93BE; /* Green */
  width: 260px;
  height: 50px;
  border-radius: 10px;
  display: flex;
   color:white;
  font-weight: 800;
  display: flex;
 }



.button div{
 justify-content: center;
 margin: auto 10px auto 10px;
}


.purple{
  background-color: #8A93BE;
  color: white;
}


#sidenav2 {
  box-shadow: 0px 0.5px 1px #888888;
  height: calc(100% - 4rem);
  width: 12rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  display: inline;
}

/* The navigation menu links */
#sidenav2 a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  height: 40px;
  margin: 0px 20px;

 }


 code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

/* Footer */

footer {
  padding-left: 12em;
  background-color: #B6BDD3;
  display: flex;
  flex-direction: column;
  /* height: 10em; */
  text-align: center;
}

footer .footerContent h1 {
  margin-top: 0em;
  padding-top: 1em;

}

.footerContent {
  display: flex;
  align-items: center;
  margin-top: 0em;
  justify-content: space-around;
}


/* Media queries */
@media screen and (max-width:600px) {
  #sidenav {
    display: none;
  }
  #sidenav2 {
    display: none;
  }
  main {
    padding-left: 0em;
  }
  footer  {
    padding-left: 0em;
  }
  #topnav li i{
    display:inline;
  }
}


input[type="search"]{
   height: 40px;
  border-radius: 10px;
  border: 1px solid #8A93BE;
  padding: 0px 10px;
  font-size: 1.2rem;
  margin: 0px 0px 20px 0px;
  width: 400px;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
  width: 100vw;
}

.search_child form{
  display: flex;
  justify-content: center;
height: 40px;}

.search_child{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search_results{
  display: flex;
  flex-wrap: wrap;

}


#course_section{
  display: flex;
  flex-wrap: wrap;
  
}